<footer id="aoe-footer" class="section-divider">
    <div id="aoe-footer-logo-wrapper">
        <a href="http://www.ageofempries.com" id="aoe-footer-logo"></a>
    </div>
    <div class="footer-links primary">
        <div class="flex-row">
            <div class="flex-col">
                <div class="flex-row">
                    <div class="flex-col esrb">
                        <div class="content">
                            <a href="http://www.esrb.org/" class="logo"></a>
                            <div class="info">
                                <span class="location">US/Canada</span>
                                <ul>
                                    <li>Blood</li>
                                    <li>Violence</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex-col studio">
                        <div class="content">
                            <a href="https://www.microsoftstudios.com/" class="logo"></a>
                        </div>
                    </div>
                    <div class="flex-col usk">
                        <div class="content">
                            <a href="http://www.pegi.info/en/index/" class="logo"></a>
                            <div class="info">
                                <span class="location">Germany</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-col pegi">
                        <div class="content">
                            <a href="http://www.pegi.info/en/index/" class="logo"></a>
                            <div class="info">
                                <span class="location">Europe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-col social">
                <div class="content">
                    <ul>
                        <li><a href="" class="fa fa-twitter"></a></li>
                        <li><a href="" class="fa fa-instagram"></a></li>
                        <li><a href="" class="fa fa-facebook"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-links secondary">
        <ul>
            <li><a href="http://www.xbox.com/en-US/Legal/XboxComTOU">Terms of Use</a></li>
            <li><a href="http://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx">Trademarks</a></li>
            <li><a href="https://privacy.microsoft.com/en-us/privacystatement">Privacy Statement</a></li>
        </ul>
        &copy;2018 Microsoft.  All rights reserved.
    </div>
</footer>