


//add space between categories
.topic-list.categories {
  border-spacing: 0 1em;
  border-collapse: separate;
}

//change category background color to white
.topic-list.categories>tbody>tr {
  background-color: lighten($secondary, 10%);
}

//padding for category title and description
.topic-list.categories th,
.topic-list.categories td {
  padding: 0 15px 0 15px;
}

//Shadows for categories
.topic-list.categories>tbody>tr td.category,
.topic-list.categories>tbody>tr td.stats,
.topic-list.categories>tbody>tr td.latest {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

//add shadow behind the list of topics on right in Category and Latest View
//add shadow behind list of categories on left in Category and Latest View
//add shadow behind topics in Latest view
.category-list,
.topic-list:not(.categories),
.latest-topic-list {
  //-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  //-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  //background-color: lighten($secondary, 10%);
  border-collapse: collapse;

  background: #f1e9d0 !important;
  background-image: url($texture-papyrus);
  background-position: top center;
  background-repeat: repeat;
  border: 2px solid #2d2a23;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 15px 0 rgba(0,0,0,.4);


}

//underline navigation links
.nav-pills>li.active>a,
.nav-pills>li>a.active {
  color: $nav_pill_active_color !important;
  font-weight: 500;
  background-color: transparent !important;
  border: none;
}


//remove highlighting navigation background on hover
.nav-pills>li>a:hover {
  color: $nav_pill_hover_color !important;
  background-color: transparent !important;
}

//fix color of user profile navigation icons
.user-main .nav-pills {
  a.active i {
    color: $nav_pill_active_color !important;
  }
  a:hover:not(.active) i {
    color: $light_alt !important;
  }
}

//create conversation cards
.topic-body {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  padding-left: 20px;
  border-radius: 2px;
  padding-right: 20px;
}

//more space for avatars
.topic-avatar {
  border-top: 0;
  padding-right: 10px;
  .avatar-flair {
    right: 4px;
  }
}

//remove stray border from bottom of last post
.topic-status-info {
  border-top: 0;
}

//improve format of embedded posts
.embedded-posts .topic-avatar {
  padding-left: 0px;
}

.embedded-posts.top.topic-body {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  background-color: $secondary;
}

//raise and round buttons
.btn:not(.bulk-select):not(.period-chooser-header) {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

//flatten editor, topic-map, more badges, and revision view buttons
.d-editor-button-bar .btn,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn {
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

//properly space buttons on login modal
button#login-link,
button#new-account-link {
  padding-left: 20px;
}

//darken color, remove shadow and border when pressed
.btn:active {
  background-color: rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 00px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 00px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 00px 0 rgba(0, 0, 0, 0.12);
}

.btn:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

//shift "more" button slightly left
.more-topics .btn {
  margin-right: 10px;
}

//New Topic Fab
#create-topic.btn-default {
  border-radius: 40px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 999;
  padding: 24px 20px 22px 5px;
  background-color: $tertiary;
  color: $tertiary;
  white-space: nowrap;
  text-indent: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  width: 63px;
  height: 63px;
  -webkit-transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, -webkit-transform .5s;
  transition: right .5s, bottom .5s, border-radius .5s, text-indent .2s, visibility 1s, width .2s ease, height .5s ease .4s, color .5s, background-color 2s, transform .5s;
}

#create-topic.btn-default .fa-plus {
  color: white;
}

#create-topic.btn-default:hover {
  text-indent: 8px;
  width: 190px;
  color: white;
}

//Reply Fab
.timeline-footer-controls {
  position: relative;
}

.widget-button.btn.create {
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: -18px;
  z-index: 300;
  background-color: $tertiary;
  color: $header-primary;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  overflow: hidden;
  width: 60px;
  height: 60px;
  -webkit-transition: right 0.5s, bottom 0.5s, border-radius 0.5s,
  text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s,
  color 0.5s, background-color 2s, -webkit-transform 0.5s;
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s,
  visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s,
  background-color 2s, transform 0.5s;
}

//Increase size of reply icon
.widget-button.btn.create .fa-reply {
  color: white;
  font-size: 20px;
}

//Proper spacing for iPad portrait
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
  .topic-admin-popup-menu {
    left: -40% !important;
  }
}

//Properly space notifications button
.widget-button.btn.notifications-dropdown {
  right: 4px;
  position: relative;
  border-radius: 40px;
  width: 30px;
  padding: 6px;
}

//cards for search results
.fps-result {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
}

@keyframes background-fade-highlight {
  0% {
    background-color: lighten($tertiary, 20%);
  }
  100% {
    background-color: lighten($secondary, 10%);
  }
}

#topic-status-info {
  border-top: none;
}

// RTL Overrides
.rtl {
  .widget-button.btn.notifications-dropdown .fa {
    margin-left: -2px;
  }
  .topic-avatar {
    padding-right: initial;
    padding-left: 10px;
    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }
  .embedded-posts .topic-avatar {
    padding-left: initial;
    padding-right: 0;
  }
  button#login-link,
  button#new-account-link {
    padding-left: 20px;
    padding-right: 20px;
  }
  #create-topic.btn-default {
    right: initial;
    left: 50px;
    padding: 24px 5px 22px 20px;
  }
  .widget-button.btn.create {
    left: initial;
    right: -18px;
    padding: 24px 5px 22px 20px;
  }
  .widget-button.btn.create .fa-reply {
    margin-left: initial;
    margin-right: -8px;
  }
  .widget-button.btn.notifications-dropdown {
    right: initial;
    left: 4px;
  }
  .widget-button.btn.notifications-dropdown .fa {
    margin-left: initial;
    margin-right: -2px;
  }
}

// RTL Overrides
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .rtl {
    .timeline-container {
      margin-left: initial;
      margin-right: 820px;
    }
    .topic-admin-popup-menu {
      left: initial !important;
      right: -40% !important;
    }
  }
}




// *******************************************************
// CUSTOM STYLING OUTSIDE OF DEFAULT SETTINGS
// *******************************************************

// page background
html {
  background-color: #442504 !important;
  background-image: url($bkg-rock-01);
  background-position: top center;
  background-repeat: repeat;
}


// header background
header.d-header {

  background-color: #000000 !important;
  background-image: url($header-marble);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    background: linear-gradient(180deg,#644227,#785e2e,#9a843a,#d2be5e,#030004);
    height: 5px;
    width: 100%;
  }

}

// header icons
header.d-header .d-header-icons .icon {
  color: #e5d194 !important;
}


// boxed area background
.boxed.white {
  background: #f1e9d0 !important;
  background-image: url($texture-papyrus);
  background-position: top center;
  background-repeat: repeat;
  border: 2px solid #2d2a23;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,.4);
  padding-right: 20px;
  padding-left: 20px;
}

#create-topic.btn-default {
  border: 2px solid #221b16;
  //background: linear-gradient(180deg,#644227,#785e2e,#9a843a,#d2be5e,#030004);
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: white;

  .d-button-label {
    visibility: hidden;
  }

  &:hover .d-button-label {
    visibility: visible;
    color: white;
  }

}

// navigation and list controls


ul.nav {

  //background-image: url($bkg-nav-brown);
  //background-repeat: repeat;
  //width: 100%;

  //&.nav-pills {...} // used to be in here... but is now below


}

.nav-pills {

  background-image: url($bkg-nav-brown);
  background-repeat: repeat;
  width: 100%;

  position: relative;
  border: none;
  overflow: hidden;
  padding-top: 4px;


  &:before {
    content: "";
    width: 100%;
    height: 5px;
    //background: linear-gradient(180deg,#644227,#785e2e,#9a843a,#d2be5e,#030004);
    background-image: url($bkg-nav-gold-bar-top);
    background-repeat: repeat-x;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    background-image: url($bkg-nav-gold-divider);
    background-repeat: no-repeat;
    width: 5px;
    height: 29px;
    z-index: 2 !important;
  }

  li {
    position: relative;
    padding-right: 5px;
    z-index: 1 !important;

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 5px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url($bkg-nav-gold-divider);
        background-repeat: no-repeat;
        width: 5px;
        height: 29px;
        z-index: 2 !important;
      }

    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url($bkg-nav-gold-divider);
      background-repeat: no-repeat;
      width: 5px;
      height: 29px;
      z-index: 2 !important;
    }
    &:last-of-type:after {
      display: none;
    }
  }
}

.nav-pills > li > a {
  padding: 6px 12px 11px 12px;
  color: $light_alt;
}

.nav-pills > li.active > a,
.nav-pills > li > a.active {
  position: relative;
  border: none;
  overflow: hidden;

}

#discourse-modal.modal .nav.nav-pills {
  padding: 0 !important;
  &:before {
    z-index: 2 !important;
  }
  li {
    z-index: 1 !important;
  }
}


// *******************************************************
// STYLING for CUSTOM HTML
// *******************************************************

/*

$bkg-rock-01
$header-logo
$header-marble
$header-logo: header-logo.png
$texture-papyrus: texture-papyrus.jpg
$bkg-marble: bkg-marble.jpg
$bkg-rock-01: background_rock_repeat.jpg
$header-marble: header-marble.jpg
$footer-logo: footer-logo.png
$section-divider-default: section-divider-default.png

*/





// Administration Page
.admin-controls {
  padding: 10px 0 3px 0;
  background-color: transparent;
  nav {
    margin-left: 0;
    width: 100%;
    ul {
      li {
        a {

        }
      }
    }
  }
}



// header.html
#main-menu-desktop {
  display: block;
  position: relative;
  width: 100%;
  background-color: $background_color_dark;
  margin: 0;
  padding: 0;
  height: 43px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 4px;
    background-image: url($bkg-nav-gold-bar-top);
    background-repeat: repeat-x;
  }

  ul {
    //display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    position: relative;
    z-index: 1;


    width: 1110px;
    max-width: 1110px;
    height: 43px;
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    background-image: url($background_image_dark);
    background-repeat: repeat;


    li {
      flex: 1 0 auto;
      padding: 4px 0 0 5px;
      position: relative;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 5px;
        height: 29px;
        background-image: url($bkg-nav-gold-divider);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }

      a {
        display: inline-block;
        color: $light_alt;
        padding: 0 16px;
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 39px;
        text-transform: uppercase;
        &:hover {
          color: $a_aoe_menu_hover;
        }
      }

      &#buy-now {
        flex: 1 1 auto;
        padding: 0 0 0 0;
        width: 229px;
        height: 43px;
        overflow: hidden;
        background-image: url($header_btn);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &::before {
          display: none;
        }

        a {
          margin-top: 4px;
          font-family: trajan-pro-3,serif !important;
          font-weight: bold;
        }

      }


    }

  }

}



// footer.html
// footer vars
/**
    $bkg-marble       --> marble background
    $footer-logo      --> gold footer logo
    $studios-logo     --> studios logo
    $ratingsymbol_t   --> USA ESRB teen rating symbol
    $pegi-12          --> Europe PEGI 12 rating symbol
    $usk-12           --> Germany USK rating 12 symbol

 */
footer#aoe-footer {
  width: 100%;
  min-height: 15vw;
  margin: 0;
  padding: 50px 0;
  border: none;
  background-color: #000000 !important;
  background-image: url($bkg-marble);
  background-position: top center;
  background-repeat: repeat;

  color: $footer_color !important;

  a {
    color: $footer_color !important;
    &:hover {
      color: $footer_color !important;
    }
  }

  #aoe-footer-logo-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 4.2vw;
    #aoe-footer-logo {
      display: block;
      width: 61.30208vw;
      height: 8.07292vw;
      margin: 0 auto;
      padding: 0;
      background-image: url($footer-logo);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .footer-links.primary {
    // styles
    display: block;
    width: 61.30208vw;
    height: auto;
    margin: 0 auto 50px auto;

    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: center;


    .flex-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;

      width: 100%;

      .flex-col {
        flex: 0 1 auto;
        width: auto;
        height: auto;
        margin-right: 32px;

        &:last-of-type {
          margin-right: 0;
        }

        .content {}

        .flex-row {
          justify-content: flex-start;
        }
      }

    }

    .logo {
      display: inline-block;
      background-size: cover;
      background-repeat: repeat;
    }
    .info {
      display: inline-block;
      margin: 0;
      padding: 0 8px;
      vertical-align: top;

      .location {
        font-weight: bold;
      }

      ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
        }

      }
    }

    .social {
      // styles
      ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin: 0;
          padding: 0 10px;
          a {
            display: inline-block;
            font-size: 40px !important;
            line-height: 40px;
            height: 40px;
            overflow: hidden;
            color: $footer_social_color !important;
            &:hover {
              color: $footer_social_color !important;
            }
          }
        }
      }

    }


    .esrb .logo {
      width: 39px;
      height: 53px;
      background-image: url($ratingsymbol_t);
    }

    .studio .logo {
      width: 176px;
      height: 53px;
      background-image: url($studios-logo);
    }

    .usk .logo {
      width: 53px;
      height: 53px;
      background-image: url($usk-12);
    }

    .pegi .logo {
      width: 42px;
      height: 53px;
      background-image: url($pegi-12);
    }

  }

  .footer-links.secondary {
    text-align: center !important;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif !important;
    font-size: 13px !important;
    color: $footer_color !important;
    ul {
      margin: 0 !important;
      display: block !important;
      list-style: none !important;
      li {
        display: inline-block !important;
        padding: 0 8px !important;
        border-right: 1px solid white !important;
        border-color: $footer_color !important;
        &:last-of-type {
          border-right: none !important;
        }

        a {
          font-family: Source Sans Pro,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif !important;
          font-size: 13px !important;
          color: $footer_color !important;
          &:hover {
            color: $footer_color !important;
          }
        }

      }
    }
  }

}


// section dividers
.section-divider {
  position: relative;
  &:before {
    //background: url($image-path + 'gold_section_divider.png');
    background: url($section-divider-default);
    content: '';
    height: 72px;
    left: 0;
    position: absolute;
    top: -36px;
    width: 100%;
  }

  &:after {
    //background: url($image-path + 'gold_section_divider.png');
    background: url($section-divider-default);
    content: '';
    height: 72px;
    right: 0;
    position: absolute;
    top: -36px;
    width: 30px;
    background-position: 100% 80px;
  }
}



